@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: Inter;
    background-color: #370452;
}

.container__imagem {
    width: 500px;
}

.container__titulo {
    color: #311c55;
}

.container__botao {
    display: inline-block;
    background-color: #311c55;
    color: white;
    padding: 1em;
    border-radius: 16px;
    text-decoration: none;
}

.container {
    width: 26%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}